<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>

<div class="container mt--8 pb-5">
  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Borrowed Books</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">ISBN</th>
              <th scope="col">Author</th>
              <th scope="col">Rate</th>
              <th scope="col"><i class="ni ni-settings-gear-65"></i></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let book of borrowedBooks.content; let index = index">
              <th scope="row">{{index + 1}}</th>
              <td>{{ book.title }}</td>
              <td>
              <span class="badge badge-dot mr-4">
                <i class="bg-warning"></i> {{ book.isbn }}
              </span>
              </td>
              <td>
                <div class="avatar-group">
                  <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="{{ book.authorName }}">
                    <img alt="Image placeholder" src="assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                  </a>
                  {{ book.authorName }}
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">

                  <div class="progress " style="width: 100px; ">
                    <div
                      class="progress-bar bg-warning"
                      role="progressbar"
                      [style.width]="(book.rate / 5) * 100 + '%'"
                      aria-valuenow="{{ book.rate }}"
                      aria-valuemin="0"
                      aria-valuemax="5">
                    </div>
                  </div>
                  <span class="mr-2">  {{ book.rate }}</span>
                </div>
              </td>
              <td>
                <div class="d-flex gap-2">
                  <i *ngIf="book.returned" class="ni ni-send text-primary" appTooltip="Returned"></i>
                  <i *ngIf="!book.returned" (click)="returnBorrowedBook(book)" class="ni ni-send text-success" appTooltip="Return"></i>
                  <i class="ni ni-check-bold text-primary" [class.text-success]="book.returnApproved"></i>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Book details and feedback form -->
    <div class="col-xl-4" *ngIf="selectedBook">
      <div class="card shadow">
        <div class="container" >
          <div class="row">
            <!-- Book Card -->
            <div class="col-sm">
              <div class="card shadow me-4" style="width: 18rem;">
                <img class="card-img-top" [src]="bookCover" alt="Book cover">
                <div class="card-body">
                  <h5 class="card-title">{{ selectedBook?.title }}</h5>
                  <p class="card-text"><strong>Author:</strong> {{ selectedBook?.authorName }}</p>
                  <p class="card-text"><strong>ISBN:</strong> {{ selectedBook?.isbn }}</p>
                  <p class="card-text"><strong>Rate:</strong> {{ selectedBook?.rate }}</p>
                </div>
              </div>
            </div>
            <!-- Feedback Form -->
            <div class="col-sm">
              <form class="row g-3 p-4 custom-form-bg">
                <div class="d-flex gap-3 align-items-center">
                  <input [(ngModel)]="feedbackRequest.note" type="range" id="rate" name="rate" class="form-range w-100" min="0" max="5" step="0.5">
                  <span>{{ feedbackRequest.note }}</span>
                </div>
                <div class="col-12">
                  <label for="synopsis" class="form-label">Feedback</label>
                  <textarea [(ngModel)]="feedbackRequest.comment" rows="4" class="form-control" id="synopsis" name="synopsis" placeholder="Feedback"></textarea>
                </div>
                <div class="d-flex justify-content-end gap-3 col-12 mt-3">
                  <button (click)="returnBook(true)" type="submit" class="btn btn-outline-primary">
                    <i class="fas fa-save"></i>&nbsp;Rate the book & Return
                  </button>
                  <button (click)="returnBook(false)" type="submit" class="btn btn-outline-success">
                    <i class="ni ni-send"></i>&nbsp;Just Return
                  </button>
                  <a routerLink="/book/my-books" type="submit" class="btn btn-link text-danger">
                    <i class="fas fa-times"></i>&nbsp;Cancel
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
